/* Fonts */
/* MS MADI */
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(assets/backgrounds/main-hero-cover-image.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    font-family: "Ms Madi", cursive;
    font-size: 25px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    padding: 5px;
    color: #f0f8ff;
}